html {
  box-sizing: border-box;
}
body {
  display: grid;
  row-gap: 60px;
  font-family: sans-serif;
}

/* HEADER */
header {
  padding: 0 10px;

  display: flex;
  justify-content: space-between;

  background-color: #490009;
  border-radius: 3px;
}

header figure {
  height: 50px;
  margin-left: 0;
}

#logo {
  max-height: 100%;
  padding-top: 5px;
}

header li {
  padding: 5px;
  color: white;
}

header a {
  color: white;
}

/* BANNER */
.banner {
  text-align: center;
  font-size: 40px;
  background: url("/resources/media/banner.jpeg");
  background-size: cover;
  height: 500px;
  color: white;
}
/* ABOUT */
.about {
  background-color: #490009;
  color: white;
  border-radius: 3px;

}

#about-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  column-gap: 10px;

}

.about-text {
  width: 60%;
  line-height: 1.75em;
  margin-top: 10px;
  margin-bottom: 45px;
}

#about-pic {
  width: 300px;
  height: 200px;
  margin-bottom: 55px;
}

#about-pic img {
  margin: 0;
  max-height: 100%;
  max-width: 100%;

  display: inline-block;
  padding-left: 50px;
}

/* EMPLOYEES */
.employees {
  border: 1px solid black;
  background-color: #490009;
  color: white;
  border-radius: 3px;
}

#employee-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.emp {
  width: 300px;
  background-color: black;
  border: 1px solid lightgrey;
  opacity: 0.89;
}

.emp figcaption {
  font-size: 26px;
  margin-bottom: 10px;
}

.emp-pic {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #490009;
  color: white;
  border-radius: 3px;
}

footer p {
  padding-top: 15px;
}


/* General */
h1 {
  padding-top: 200px;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-size: 45px;
}